
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<body>
    <center>
        <h1>Add a New Item</h1>
        <br />
        <input type="button" class="button1" value="ADD TEAM" onclick="@("window.location.href='" + @Url.Action("NewTeam", "AddItem") + "'");" />
        <br />
        <br />
        <input type="button" class="button1" value="ADD WORKSTREAM" onclick="@("window.location.href='" + @Url.Action("NewWorkstream", "AddItem") + "'");" />
        <br />
        <br />
        <input type="button" class="button1" value="ADD CATEGORY" onclick="@("window.location.href='" + @Url.Action("NewCategory", "AddItem") + "'");" />
        <br />
        <br />
        <input type="button" class="button1" value="ADD SUBCATEGORY" onclick="@("window.location.href='" + @Url.Action("NewSubcategory", "AddItem") + "'");" />
    </center>
</body>
