
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<body>
    <center>
        <h1>ADMIN</h1>
        <br />
        <input type="button" class="button1" value="UPDATE GOALS" onclick="@("window.location.href='" + @Url.Action("Index", "GOALs") + "'");" />
        <br />
        <br />
        <input type="button" class="button1" value="EDIT ABOUT" onclick="@("window.location.href='" + @Url.Action("Index", "ABOUTs") + "'");" />
        <br />
        <br />
        <input type="button" class="button1" value="ADD A NEW ITEM" onclick="@("window.location.href='" + @Url.Action("Add", "Home") + "'");" />
    </center>
    </body>
