@model IEnumerable<CYJ.Models.GOAL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<style>
    .new {
       font-size:20px;
       text-decoration:underline;
    }
</style>
<h1 style="color:deepskyblue">Goals</h1>
<p class="new">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.goalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FYstart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FYend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workstream)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.goalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FYstart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FYend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.workstream)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.goalID }) |
                @Html.ActionLink("Details", "Details", new { id = item.goalID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.goalID })
            </td>
        </tr>
    }
</table>
