@model IEnumerable<CYJ.Models.POST>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!doctype html>
<html lang="en">

<body>
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">About the dashboard</h4>

                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-6">
                           
                            <table class="table" style="font-size:20px;">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.postTitle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.postContent)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h5>Content Links</h5>

                            <ul style="font-size:20px;margin:20px;">
                                <li class="margin">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="margin">@Html.ActionLink("Service Delivery", "Index", "Home")</li>
                                <li class="margin">@Html.ActionLink("Corps Member Experience", "Index", "Home")</li>
                                <li class="margin">@Html.ActionLink("External Affairs", "Index", "Home")</li>
                                <li class="margin">@Html.ActionLink("Revenue", "Index", "Home")</li>
                                <li class="margin">@Html.ActionLink("OPEX", "Index", "Home")</li>
                                <li class="margin">@Html.ActionLink("RAD", "Index", "Home")</li>
                            </ul>

                        </div>
                    </div>
                    <br>
                    <br>

                </div>
            </div>
        </div>
    </div>
</body>

</html>