<!doctype html>
<html lang="en">
<head>
    <!--Template Header-->
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Content/mytemplate/")img/apple-icon.png" />
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/mytemplate/")img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="@Url.Content("~/Content/mytemplate/")css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="@Url.Content("~/Content/mytemplate/")css/material-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="@Url.Content("~/Content/mytemplate/")css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!--Template Scripts -->
    <!--   Core JS Files   -->
    <script src="@Url.Content("~/Content/mytemplate/")js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/material.min.js" type="text/javascript"></script>
    <!--  Charts Plugin -->
    <script src="@Url.Content("~/Content/mytemplate/")js/chartist.min.js"></script>
    <!--  Dynamic Elements plugin -->
    <script src="@Url.Content("~/Content/mytemplate/")js/arrive.min.js"></script>
    <!--  PerfectScrollbar Library -->
    <script src="@Url.Content("~/Content/mytemplate/")js/perfect-scrollbar.jquery.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="@Url.Content("~/Content/mytemplate/")js/material-dashboard.js?v=1.2.0"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="@Url.Content("~/Content/mytemplate/")js/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
    </script>

</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="red" data-image="@Url.Content("~/Content/Images/citysidebar.jpg")">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="https://www.cityyear.org/jacksonville" class="simple-text">
                    City Year Jax
                </a>
                <img src="~/Content/Images/CITYYEARLOGO.png" alt="LOGO" style="width:200px;height:200px;" />

            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", "Home")"><i class="material-icons md-18">home</i> HOME</a></li>

                    <li><a href="@Url.Action("Home", "About")"><i class="material-icons md-18">location_city</i>ABOUT</a></li>

                    <li><a href="@Url.Action("Admin", "Home")"><i class="material-icons md-18">verified_user</i>ADMIN</a></li>

                    <li><a href="@Url.Action("Index", "Home")"><i class="material-icons md-18">school</i>SERVICE DELIVERY</a></li>

                    <li><a href="@Url.Action("Index", "Home")"><i class="material-icons md-18">group</i>CORP MEMBER EXPERIENCE</a></li>

                    <li><a href="@Url.Action("Index", "Home")"><i class="material-icons md-18">event</i>EXTERNAL AFFAIRS</a></li>
                    <li><a href="@Url.Action("Index", "Home")"><i class="material-icons md-18">local_atm</i>REVENUE</a></li>
                    <li><a href="@Url.Action("Index", "Home")"><i class="material-icons md-18">settings</i>OPEX</a></li>
                    <li><a href="@Url.Action("Index", "Home")"><i class="material-icons md-18">assignment</i>RAD</a></li>
                </ul>

            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> City Year Jax | Dashboard </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <i class="material-icons md-36">person_pin</i> @Html.Partial("_LoginPartial")
                            </li>
                       
                        </ul>
                       
                    </div>
                </div>
            </nav>

            <!-- main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="https://www.cityyear.org/jacksonville">City Year Jacksonville</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>