@model IEnumerable<CYJ.Models.ABOUT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<h2 class="aboutheader" style="color:white">ABOUT</h2>
<br />
<p>
    @Html.ActionLink("Create New Post", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.about1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.about1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.aboutID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.aboutID })
            </td>
        </tr>
    }

</table>
